<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <%= form_for @user, url: '/sign_in' do |f| %>
    <div class="form-group">
      <%=f.label :email %>
      <%=f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%=f.label :password %>
      <%=f.text_field :password, class: 'form-control' %>
    </div>
      <%= f.submit 'Log in', class: 'btn btn-primary'%>
      <%= link_to 'Create User', sign_up_path, class: 'btn btn-secondary' %>
    <% end %>
  </div>
</div>
