<div class='row justify-content-center align-items-center h-100'>
  <div class='col col-sm-6 col-md-6 col-lg-4 col-xl-3'>
    <%= form_for @user, url: '/sign_up' do |f| %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
    <div class="form-group">
      <%=f.label :name %>
      <%=f.text_field :name, class: 'form-control' %>
      <% if @user.errors.full_messages_for(:name).present?%>
        <ul>
          <% @user.errors.full_messages_for(:name).each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="form-group">
      <%=f.label :email %>
      <%=f.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=f.label :password %>
      <%=f.text_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%=f.label :password_confimation %>
      <%=f.text_field :password, class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary'%>
  <% end %>
</div>
</div>
