<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to 'Blog', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <% if current_user.present? %>
        <li>
          <%= link_to 'Sign out', sign_out_path, class: 'nav-link', method: :delete, data: {confirm: "are you sure"} %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Sign up', sign_up_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
